.footer {
  display: grid;
  grid-template-rows: 1fr 1.2fr;
}

.footer__upper {
  position: relative;
  background-color: var(--color-orange-400);
  padding: 7rem 0;
  overflow: hidden;
  z-index: -1;
}

.upper__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__btn {
  color: var(--color-orange-400);
  background-color: white;
}

.footer__heading {
  color: white;
  z-index: 0;
}

.img-3 {
  top: -5rem;
  left: 12rem;
  width: 60rem;
}

.img-3 rect,
.img-4 rect {
  fill: #f36a48;
}

.img-4 {
  width: 60rem;
  top: -45rem;
  right: -38rem;
}

.footer__lower {
  background-color: #1e1e26;
}

.lower__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 7rem 0;
  height: 100%;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials__icons {
  display: flex;
  gap: 1.5rem;
}

.social-icon path {
  transition: var(--transition-timing);
}

.social-icon:hover path {
  cursor: pointer;
  fill: var(--color-orange-400);
}

.navigation-list {
  display: grid;
  row-gap: 2rem;
}

.nav-link {
  color: #b0b1b7;
  transition: var(--transition-timing);
}

.nav-link:hover {
  cursor: pointer;
  color: var(--color-orange-400);
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-form {
  display: flex;
  gap: 0.8rem;
}

.emailInput {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.email-input {
  padding: 1.7rem 2.6rem;
  border-radius: 4rem;
}

.email-input.error {
  border: 0.3rem solid red;
  color: red;
}

.errorTxt {
  display: none;
  margin-left: 2.6rem;
  color: red;
  font-size: var(--font-size-xs);
  font-style: italic;
}

#submitBtn {
  box-shadow: none;
}

.copyright {
  align-self: flex-end;
}

.copy {
  font-size: var(--font-size-sm);
}
