html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: var(--font-family-base);
  overflow-x: hidden;
  background-color: hsl(0, 0%, 100%);
}

[type="submit"] {
  border: 0;
}

.img-1 {
  fill: var(--color-orange-50);
  position: absolute;
  top: -14rem;
  left: 80rem;
  z-index: -2;
}

.wrapper {
  margin: 0 auto;
  max-width: calc(var(--container-width) + calc(var(--gutter) * 2));
  padding-inline: var(--gutter);
}

.button {
  background-color: var(--color-orange-400);
  color: var(--color-gray-50);
  padding: 1.7rem 2.6rem;
  border-radius: 4rem;
  transition: var(--transition-timing);
  box-shadow: 0 8px 20px rgba(240, 90, 40, 0.25);
}

.button:hover {
  opacity: 0.9;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}
