.header {
  width: 100%;
  padding: 6rem 0;
  top: 0;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  display: inline-block;
  width: 17rem;
  height: 2.7rem;
  margin-right: auto;
}

.navigation__list {
  display: flex;
  gap: 2rem;
}

.navigation__item {
  cursor: pointer;
  color: #4e5069;
  transition: var(--transition-timing);
  font-weight: var(--font-weight-medium);
}

.navigation__item:hover {
  color: #babbc3;
}

.header__btn {
  margin-left: auto;
}
