.main__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
}

.main__header {
  font-size: 5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-blue-950);
}
