.reviews {
  display: grid;
  row-gap: 8rem;
}

.review__heading {
  text-align: center;
}

.review {
  position: relative;
  text-align: center;
  background-color: var(--color-gray-50);
  padding: 8rem 4rem 4rem;
  flex-shrink: 0;
}

.review__logo {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: -4rem;
  left: calc(50% - 4rem);
  z-index: 99;
}

.reviews__wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.review__description {
  display: grid;
  row-gap: 2rem;
}

.reviews__btn {
  margin: 0 auto;
}
