@use "../components/variables";
@use "../components/reset";
@use "../components/global";
@use "../components/header";
@use "../components/main";
@use "../components/about";
@use "../components/reviews";
